h1{
	color:wheat;
	text-align: center;
	font-family: garamond;
}
p{
	color:wheat;
	font-size: 20px;
	font-family: garamond;
}
.photo{
	width:100%;
	background: gray;
}
.image{
	width:100%;
	background: gray;
}
body{
	background: gray;
}
.pertab{
	width: 100%;
}
